@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  /* Brand Colors */
  --color-brand-primary: #f259ce;
  --color-brand-accent: #f7638f;
  --color-brand-bg: #fdf6f8;
  --color-brand-pink: #ec4899;
  --color-brand-blue: #68d3f8;

  /* Card Accent Gradients / Solid Pastels */
  --color-card-pink: #f7d9e3;
  --color-card-mint: #c9e8d9;
  --color-card-peach: #ffe2cc;

  /* Surfaces */
  --color-surface: #ffffff;
  --color-surface-muted: #f2f4f7;
  --color-surface-pink: #fef2f2;

  /* Text Colors */
  --color-main: #1a1a1a;
  --color-muted: #8a8a8a;
  --color-gray: #9ca3af;

  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 80px;

  --font-sans: poppins;
  --font-sans-medium: poppinsMedium;
  --font-sans-semibold: poppinsSemiBold;
  --font-sans-bold: poppinsBold;
}

@layer utilities {
  .shadow-card {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    /* React Native specific property for Android shadow */
    elevation: 2;
  }
}

/* Brand Colors */
/* --color-brand-primary: #9be2fe;
  --color-brand-accent: #68d3f8;
  --color-brand-bg: #f5faff; */

/* Card Accent Gradients / Solid Pastels */
/* --color-card-blue: #cfeeff;
  --color-card-peach: #ffebd8;
  --color-card-green: #e2f9eb; */

/* Surfaces */
/* --color-surface: #ffffff;
  --color-surface-muted: #f2f4f7; */

/* Text Colors */
/* --color-text-main: #111827;
  --color-text-muted: #8e9aa8; */
